.btn-click{
    position: absolute;
    top: 20vh;
    width: 10rem;
    left: calc((100% - 10rem) / 2);
    background-color: rgb(162, 54, 54);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}


